<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>88998250340-6lmdatcojnhnq06uua3aa0ihsqr47l2r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88998250340-6lmdatcojnhnq06uua3aa0ihsqr47l2r</string>
	<key>API_KEY</key>
	<string>AIzaSyCc3BEW-vyRLowaVNmIE4LyGMPvEeSkaeg</string>
	<key>GCM_SENDER_ID</key>
	<string>88998250340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.easyOrders</string>
	<key>PROJECT_ID</key>
	<string>easy-orders-123</string>
	<key>STORAGE_BUCKET</key>
	<string>easy-orders-123.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88998250340:ios:2a61d5201c2fefda8adc71</string>
	<key>DATABASE_URL</key>
	<string>https://easy-orders-123-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>